body{
    background-image: url(./bg.jpg);
    background-repeat: no-repeat;
}
img{
    width: 250px;
    height: 250px;
    padding-bottom: 300px;
}
.sign{
   background-color: black;
    font-size: x-large;
    width: 30%;
    height: 600px;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: -300px;
    padding-top: 80px;
}
.form-control1{
    background-color:white;

}
.form-control2{
    background-color: white;
    margin-left: 135px;

}
.btn {
    background-color: red;
    width: 350px;
    font-size: xx-large;
}
.form-labe2{
    
 
}
.hello{
    margin: auto;
    padding-top: 100px;
}
.up{
    margin-left: 1
    50px;
}