*{
    background-color: black;
}
img{
    width: 250px;
    height: 250px;
    padding-bottom: 300px;
}
.sign{
    border: 2px solid white;
    width: 30%;
    height: 300px;
    color: white;
    position: relative;
    text-align: center;
    padding-top: 50px;
    margin-right: 500px;
}